@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body{
  background-color: #191923;
  color: white;
}

@keyframes animation {
  0%{
    transform: translateY(10px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes animate {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* scrollbar style  */
::-webkit-scrollbar {
  display: none;
}